@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  max-width: 1440px;
  background-color: hsl(30, 38%, 92%);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pref-pic {
  width: 50%;
  height: auto;
}

#product {
  display: flex;
  width: 500px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  background-color: hsl(0, 0%, 100%);
}

#category,
#description,
#name,
#new-price,
#add-to-cart {
  margin: 10px 20px;
}


#category,
#description {
  font-family: "Montserrat";
}

#name {
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 2rem;
}

#price{
  display: flex;
  justify-content: baseline;
  align-items: center;
}

#new-price {
  font-size: 1.5rem;
  font-family: "Fraunces";
  font-weight: 700;
  color: hsl(158, 36%, 37%);
}

#old-price {
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  font-size: 1rem;
}

#add-to-cart {
  background-color: hsl(158, 36%, 37%);
  height: 5vh;
  border-radius: 5px;
  text-align: center;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

#shopping-cart-icon {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

#add-to-cart:hover{
    background-color: hsl(157, 31%, 21%);
    cursor: pointer;
}

@media (max-width: 375px) {
  #product {
    display: flex;
    flex-direction: column;
    width: 250px;
  }

  #pref-pic {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
  }

  #name{
    font-size: 1.5rem;
  }

  #new-price{
    font-size: 1.2rem;
  }

  #old-price{
    font-size: 0.9rem;
  }
}
